section {
  padding: 30px 18%;
  background-color: #fafafa;
  display: flex;

}

section div a img {
  width: 56px;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  border-color: #c62d8f;
  padding: 1px;
  object-fit: cover;


}

.left-side {
  width: 65%;
  
}

.story {
  display: flex;
  padding: 12px;
  background-color: white;
  border: 1px solid rgba(219, 219, 219, 0.7);
  border-radius: 3px;

}


.right-side {
  width: 35%;
}

section div p {
  font-size: 12px;
  padding: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.story .stories {
  width: 13.5%;
  
}

.story .stories p {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #262626;

}

/*posts*/

.posts {
  margin: 25px 0;
  background-color: white;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 3px;
}

.posts .post-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;

}

.posts .post-title .post-left {
  display: flex;
  align-items: center;
}

.blue-tick {
  width: 18px;
}


.posts .post-title .post-left .image img {
  border-radius: 50%;
  object-fit: contain;
}

.posts .post-title .post-left .user-detials .user-name {
  padding-bottom: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.posts .post-content img{
height: 100%;
width: 100%;
object-fit: contain;
}

.posts .post-footer{
   display: flex;
   justify-content: space-between;
   padding: 16px;

}

.posts .post-footer .like-share-comment i {
  font-size: 22px;
  margin-right: 10px;
}

.posts .post-footer .save{
  font-size: 22px;
}

.posts .post-footer-content{
  padding: 0 16px 16px 16px;
}

.posts .post-footer-content p{
margin-bottom: 3px;
}

.posts .post-footer-content .likes{
  margin-bottom: 8px;
}

.posts .post-footer-content .name{
  font-weight: 600;
}

.posts .post-footer-content .posting-timemar{
  font-size: 10px;
  margin-top: 6px;
}

.posts .add-comment{
  padding: 16px;
  border-top: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posts .add-comment .left-comment-items{
  display: flex;
  align-items: center;

}

.posts .add-comment .left-comment-items i{
  font-size: 22px;
  margin-right: 15px;
}

.comment-bar{
width: 100%;
outline: none;
border: none;
font-size: 14px;
}

/*section - right*/

.right-section{
  width: 35%;
  margin-top: 15px;
  position: fixed;
  right: 30px;

}

.right-section .profile-title{
  display: flex;
  align-items: center;
}

.right-section .profile-title .profile-left{
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.right-section .profile-title .profile-left .image img{
  border-radius: 50%;
  margin-right: 15px;
}

.right-section .profile-title .profile-left .detials .name{
padding-bottom: 3px;
}

.suggestions{
  display: flex;
  margin-top: 25px;
  margin-bottom: 20px;
}

.suggestions p{
  margin-right: 90px;
}

.suggestion-title{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.suggestion-title .suggestion-left{
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.suggestion-title .suggestion-left .image img{
border-radius: 50%;
margin-right: 15px;
object-fit: cover;

}
.suggestion-title .suggestion-left .detials .name{
  padding-bottom: 3px;
  font-size: 13px;
  font-weight: 450;
}

.user-info{
  font-size: 10px;
}

.suggestion-title .suggestion-right p{
  color: rgb( 0, 149, 246);
  font-size: 10px;
  font-weight: 650;
}

.right-section .detials .name{
  font-size: 13px;
  font-weight: 500;
}

.right-section .profile-right p{
  color: rgb( 0, 149, 246);
  font-weight: 400;
}



@media(max-width:900px){
  header{
    padding: 10px 20px;
  }

  .right-section{
    display: none;
  }
  
}

@media(max-width:900px){
  header .search-box{
    display: none;
  }
  
section{
  padding: 30px 20px;
}

}

@media(max-width:900){
  .story .stories{
    width: 25%;
  }
}
 


